<div style="margin-top: 50px;">
	<div style="margin-left: 250px;">
		<p><mark>管理者画面</mark></p>
	</div>
</div>
<div style="margin-top: 50px;">
	<div style="margin-left: 100px;">
		<p>本日の注文件数:#件</p>
		<!-- 注文件数をカウントする -->
		<!-- その日1日だけの注文件数の表示のさせ方 -->
	</div>
</div>
