<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>会員一覧</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
            <%= link_to user.first_name, admins_end_user_path(user.id) %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <% if user.is_deleted == false %>
              <P> 有効</P>
            <% else %>
              <P> 退会済み </P>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @users %>
    </div>
  </div>
</div>
