<div style="text-align: center;">
	<h1><strong>About</strong></h1>
	<p>ながのCakeは全国発送可能なケーキ屋さんです。</p>
	<p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
	<p>様々なバリエーションをご用意しております。</p>
	<p>また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
	<p>ぜひご注文ください</p>
</div>

<div style="text-align: right; padding-right: 250px; padding-bottom: 20px;">
  <%= image_tag 'usagi.jpg', :size =>'150x150'%>
</div>