<!-- ジャンル検索のサイドバー入力 -->

<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
      <div class="top-visual">
        <div class="top-visual-content">
          <div class="top-visual-text">
            <h2>ようこそ、NaganoCakeへ！</h2>
            <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品の閲覧はできますが、</p>
            <p>購入には会員登録が必要になります。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-md-offset-3">
      <h3><strong>オススメ商品</strong></h3>

      <!-- 以下に商品画像、値段 -->
      <% @random.each do |item| %>
        <table class="table table-hover">
          <tbody>
            <tr><%= attachment_image_tag item, :image, format: 'jpeg', size: "150x120" %></tr>
            <tr><%= item.name %></tr>
            <tr>¥ <%= item.price_nontax %>（税抜）</tr>    <!-- 税込価格 -->
          </tbody>
        </table>
      <% end %>

      <p class="text-right">
        <%= link_to "もっと見る　>", items_path %>
      </p>

    </div>
  </div>
