<div class="container">
	<div class="row">
		<h1>商品詳細</h1>
	</div>
	<div class="row">
			<%= attachment_image_tag @item, :image, format:"jpeg", :fill, 100,100, fallback: "no_image" %>
		</div>
			<table class="table text-nowrap">
				<tbody>
					<tr>
						<td>商品名</td>
						<td><%= item.name %></td>
						<td>商品説明</td>
						<td><%= item.</td>
						
