.cart_thead th {
  color: #fff;
  background-color: #220000;
  height: 40px;
  border: 0.5px solid #fff;
}

.cart_tbody {
  color: #220000;
}

.row {
  padding-top: 20px;
}

.cart_total {
  color: #fff;
  background-color: #220000;
}

td {
  border: 0.5px solid #220000;
}