
.order_confirm_table th {
  color: #fff;
  background-color: #220000;;
  height: 30px;
  border: 1px solid #fff;
  vertical-align: middle;
}

.order_right_table {
  border: 0.5px solid #220000;
}

.order_thead {
  color: #220000;
  border: 0.5px solid #220000;
  vertical-align: center;
}

.row {
  padding-top: 20px;
}

.order_right {
  color: #fff;
  background-color: #220000;
  border: 0.5px solid #fff;
  width: 170px;
  height: 40px;
}


