<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2><mark>注文履歴一覧</mark></h2>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<table class="table table-default">
		<tr style="background: rgba(0,0,0,0.2);">
			<td>購入日時</td>
			<td>購入者</td>
			<td>注文個数</td>
			<td>注文ステータス</td>
		</tr>
		<% @orders.each do |order| %>
		<tr>
			<td><%= link_to "#{order.created_at. strftime('%Y/%m/%d  %H:%M:%S')}", admins_order_path(order)  %></td>
			<td><%= "#{order.end_user.first_name} #{order.end_user.last_name}" %></td>
			<td><%= order.order_items.count %></td>
			<td><%= order.order_status %></td>
		</tr>
		<% end %>
	</table>
</div>
</div>
<!-- 遷移による表示の変更 -->